<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}">Insert title here</title>

</head>

<body>
    <h1 th: text="${titulo}"></h1>

    <div>
        <form th:action="@{/form}" th:object="${cliente}" method="post">
            <table>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" th:field="@{nombre}"></td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td><input type="text" th:field="@{apellido}"></td>
                </tr>
                <tr>
                    <td>email</td>
                    <td><input type="text" th:field="@{email}"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="registrar"></td>
                </tr>
            </table>
            <input type="hidden" th:field="*{id}">
        </form>
    </div>
    <a th: href="@{/listar}">Regresar</a>
</body>

</html>
